.gradient-primary {
  /* fallback for old browsers */
  background: #5cdb95;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #5cdb95, #1aa26b);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #5cdb95, #1aa26b);
}

.gradient-light-vertical {
  /* fallback for old browsers */
  background: #f8f9fa;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to top, #f8f9fa, #dcdcdd);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to top, #f8f9fa, #dcdcdd);
}

.gradient-light-horizontal {
  /* fallback for old browsers */
  background: #f8f9fa;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #f8f9fa, #dcdcdd);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #f8f9fa, #dcdcdd);
}

.body-height-100 {
  height: calc(100vh - 55px);
}

/* For WebKit browsers (Chrome, Safari, etc.) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
}
